# Virtual Environment
venv_ragapp/
venv/

# Environment Variables
.env

# Data folder
data/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db